<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        let queryData;
        fetch('http://127.0.0.1:3000/getInfo', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        }).then(res => res.json())
            .then((jsonData) => {
                queryData = jsonData;
                google.charts.setOnLoadCallback(drawTable);
            })

        google.charts.load('current', { 'packages': ['table'] });

        function drawTable() {
            let result = [];
            for (let i = 0; i < queryData.data.length; i++) {
                result.push([queryData.data[i].stationName, queryData.data[i].rain])
            }
            var data = new google.visualization.DataTable();
            data.addColumn('string', '地區');
            data.addColumn('number', '雨量');
            data.addRows(result);

            var table = new google.visualization.Table(document.getElementById('table_div'));

            table.draw(data, { showRowNumber: true, width: '100%' });
        }

    </script>
</head>

<body>
    <div id="table_div" style="margin-left: auto;margin-right: auto;width:400px;"></div>
</body>

</html>